/**
 * For reasons I really don't understand at the time of this writing, this
 * prevents extra whitespace from appearing below the these elements.
 */
figure,
pre {
  display: inline-block;
}

pre {
  word-wrap: normal;
  overflow-x: scroll;
  overflow-y: scroll;
}

figure {
  margin: 0;
  width: 100%;
}

figure img:only-of-type {
  display: block;
  margin: 0 auto;
}

figcaption {
  color: rgb(50, 50, 50);
  font-size: 0.85em;
  text-align: center;
}

body#post article p:has(img:only-child) {
  display: inline-block;
  width: 100%;
}

body#post article p img:only-child {
  display: block;
  margin: 0 auto;
}

iframe {
  width: 100%;
}

body#post article figcaption p {
  display: block;
}
